{% load static %}
<!DOCTYPE html>
<html lang="es-CL">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'css/base_css.css' %}" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" href="{% static 'img/logo.png' %}"/>
        <script type="text/javascript" src="{% static 'js/django_test.js' %}"></script>
        <title>ITS WebPage</title>
    </head>

    <body>
        <header title="top-headbar">
            <div class="header-container">
                <div class="logo">
                    <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="Logo"/></a>
                </div>
            
                <nav class="top-navbar">
                    <ul class="pages-nav">
                        <li><a href="{% url 'app' %}">DCL APP</a></li>
                        <li><a href="{% url 'student' %}">Student Index</a></li>
                        <li><a href="{% url 'teacher' %}">Teacher Index</a></li>
                    </ul>
                    <ul class="login-nav">
                        <li><a href="#login">LOGIN</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="main-content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>