{% extends "header_template.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="..\static\img\login_photo.jpg">
<div class="container-login" > <!--"container d-flex p-2 flex-direction: column"-->
    <div class="card">
        <div class="inner-box">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="card-front">
                        <h2>LOGIN</h2>
                    <div class="panel-body">
                        <ul>
                            {% for fields in login_form %}
                                <div class="input-box">
                                    <a>{{ fields.name }}: {{ fields }}</a>
                                </div>
                            {% endfor %}
                        </ul> 
                            <button class="submit-btn" type="submit"> Submit</button>    
                    </div>
                    <a class="registration-btn" href="{% url 'registration' %}">Sign In</a>
                </div>
            </form>
            <div class="card-back"></div>
        </div>
    </div>
</div>

<link href="{% static 'css/userControl.css' %}" rel="stylesheet" type="text/css"/>

{% endblock %}