{% extends "header_template.html" %}
{% load static %}
{% block content %}

<h1>Create Assignment</h1>

<h2>Agregar form para agregar nombre del assignment</h2>

<div>
    <button id="dcl-button">Create DCL</button>
    <button id="picture-button">Upload Picture</button>
</div>

<div id="upload-picture-content" style="visibility: hidden;">

</div>

<div id='dcl-app-content' style="visibility: hidden;">
    <div>
        <button id="select-bar-button">Select Bar</button>
        <button id="select-circle-button">Select Circle</button>
        <button id="select-support-button">Support</button>
        <button id="select-sliding-support-button">Sliding Support</button>
        <button id="select-force-button">Force</button>
        <button id="save-assignment-button">Save Assignment</button>
    </div>
    <div id='dcl-app'>
        <canvas id="canvas"></canvas>
    </div>
</div>

<script type="text/javascript">
    var assignment_js = "{{selected_assignment}}";
    var dclButton = document.getElementById("dcl-button");
    var pictureButton = document.getElementById("picture-button");
    var app = document.getElementById("dcl-app-content");
    var picture = document.getElementById("upload-picture-content");
    dclButton.addEventListener('click', function() {
        app.style.visibility = 'visible';
        picture.style.visibility = 'hidden';
    }, false);
    pictureButton.addEventListener('click', function() {
        picture.style.visibility = 'visible';
        app.style.visibility = 'hidden';
    }, false);
</script>
<script type="text/javascript">
    var assignment_js = "{{selected_assignment}}";
    var teacher_redirect = "{% url 'teacher' %}";
</script>
<script src="{% static 'js/drag_mouse.js' %}"></script>

{% endblock %}