{% extends "header_template.html" %}
{% load static %}
{% block content %}

{% if selected_assignment == 0 %}
    <h1>Assignment Name: <input type='text' id='input-text-selected-assignment-name' value="Insert Name"> </h1>
    <h2>Assignment Level: <input type='text' id='input-text-selected-assignment-level' value="2"> </h2>
    <p>Assignment Description: <textarea  type='text' id='input-text-selected-assignment-description'>Insert Description</textarea> </p>
{% else %}
    <h1>Assignment Name: <input type='text' id='input-text-selected-assignment-name' value="{{ selected_assignment.name }}"> </h1>
    <h2>Assignment Level: <input type='text' id='input-text-selected-assignment-level' value="{{ selected_assignment.level }}"> </h2>
    <p>Assignment Description: <textarea  type='text' id='input-text-selected-assignment-description'> {{ selected_assignment.description }} </textarea> </p>
{% endif %}
<div id="upload-picture-content">
    {% if selected_assignment.photo %}
        <img src="{{ selected_assignment.photo.url }}" alt="Assignment Picture" style="width: 400px; height: 400px;">
    {% else %}
        <input type="file" name="photo" accept="image/*" id="input-file-selected-assignment-photo">
    {% endif %}
</div>

<div id='dcl-app-content' style='
    width: 100%;
    height: 500px;
    max-width: 1375px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;'>
    <div id='dcl-app-action-buttons' style='
        width: 10%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: stretch;'>
        <button id="select-bar-button">Select Bar</button>
        <button id="select-circle-button">Select Circle</button>
        <button id="select-support-button">Support</button>
        <button id="select-sliding-support-button">Sliding Support</button>
        <button id="select-force-button">Force</button>
        <button id="save-assignment-button">Save Assignment</button>
    </div>
    <div id='dcl-app-side-bar-canvas' style='
        width: 10%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: stretch;'>
        <label>Force</label>
        <input type='text' id='force-value'>
        <label>Angle X</label>
        <input type='text' id='angle-value'>
        <label>Torque</label>
        <input type='text' id='torque-value'>
        <label>Test Value 1</label>
        <input type='text' id='test-1-value'>
        <label>Test Value 2</label>
        <input type='text' id='test-2-value'>
        <label>Test Value 3</label>
        <input type='text' id='test-3-value'>
    </div>
    <div id='dcl-app-draw-canvas' style='
        width:80%; 
        height:100%;'>
        <canvas id="canvas"></canvas>
    </div>
</div>

<script type="text/javascript">
    var assignment_js = "{{selected_assignment.dcl_json}}";
    var assignment_id = "{{selected_assignment.id}}";
    if (assignment_id == "") {
        assignment_id = 0;
    }
    var teacher_redirect = "{% url 'teacher' %}";
</script>
<script src="{% static 'js/init.js' %}"></script>
<script src="{% static 'js/classes.js' %}"></script>
<script src="{% static 'js/ajax_load_save.js' %}"></script>
<script src="{% static 'js/drag_mouse.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{% endblock %}
