{% extends "header_template.html" %}
{% load static %}
{% block content %}

{% if selected_assignment == 0 %}
    <h1>Assignment Name: <input type='text' id='input-text-selected-assignment-name' value="Insert Name"> </h1>
    <h2>Assignment Level: <input type='text' id='input-text-selected-assignment-level' value="2"> </h2>
    <p>Assignment Description: <textarea  type='text' id='input-text-selected-assignment-description'>Insert Description</textarea> </p>
{% else %}
    <h1>Assignment Name: <input type='text' id='input-text-selected-assignment-name' value="{{ selected_assignment.name }}"> </h1>
    <h2>Assignment Level: <input type='text' id='input-text-selected-assignment-level' value="{{ selected_assignment.level }}"> </h2>
    <p>Assignment Description: <textarea  type='text' id='input-text-selected-assignment-description'> {{ selected_assignment.description }} </textarea> </p>
{% endif %}
<div id="upload-picture-content">
    {% if selected_assignment.photo %}
        <img src="{{ selected_assignment.photo.url }}" alt="Assignment Picture" style="width: 400px; height: 400px;">
    {% else %}
        <input type="file" name="photo" accept="image/*" id="input-file-selected-assignment-photo">
    {% endif %}
</div>

<div id='dcl-app-content' style='
    width: 100%;
    height: 500px;
    max-width: 1375px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;'>
    <div id='dcl-app-action-buttons' style='
        width: 10%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: stretch;'>
        <button id="selector-button">Selector</button>
        <button id="select-eraser-button">Eraser</button>
        <button id="select-bar-button">Select Bar</button>
        <button id="select-circle-button">Select Circle</button>
        <button id="select-support-button">Support</button>
        <button id="select-sliding-horizontal-button">Sliding Support</button>
        <button id="select-sliding-vertical-button">Sliding Support</button>
        <button id="select-force-button">Force</button>
        <button id="select-momentum-button">Momentum</button>
        <button id="select-clear-button">Clear All</button>
        <button id="save-assignment-button">Save Assignment</button>
    </div>
    <div id='dcl-app-side-bar-canvas' style='
        width: 10%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: stretch;'>
        <h3 id='info-label'>Data</h3>
        <div id="force-container" style="visibility: hidden;">
            <label id='force-label'>Force Magnitude</label>
            <input type='text' id='force-value' style="width: -webkit-fill-available;">
        </div>
        <div id="angle-container" style="visibility: hidden;">
            <label id='angle-label'>Angle</label>
            <input type='text' id='angle-value' style="width: -webkit-fill-available;">
        </div>
        <div id="torque-container" style="visibility: hidden;">
            <label>Torque</label>
            <input type='text' id='torque-value' style="width: -webkit-fill-available;">
        </div>
        <div id="test-1-container" style="visibility: hidden;">
            <label>Test Value 1</label>
            <input type='text' id='test-1-value' style="width: -webkit-fill-available;">
        </div>
    </div>
    <div id="konva-container" class="container m-2" style='
        width:80%; 
        height:100%;'>
    </div>
</div>

<script type="text/javascript">
    var assignment_js = "{{selected_assignment.dcl_json}}";
    var assignment_id = "{{selected_assignment.id}}";
    if (assignment_id == "") {
        assignment_id = 0;
    }
    var teacher_redirect = "{% url 'teacher' %}";
    var bar_list = [];
    var circle_list = [];
</script>

<script src="{% static 'js/draw_app/ajax_load_save.js' %}"></script>
<script src="https://unpkg.com/konva@8/konva.min.js"></script>
<script src="{% static 'js/draw_app/draw_events.js' %}"></script>
<script src="{% static 'js/draw_app/draw_konva_app.js' %}"></script>

{% endblock %}
