{% extends "header_template.html" %}
{% load static %}
{% block content %}

<script src="https://unpkg.com/konva@8/konva.min.js"></script>

<button id="selector-button">Selector</button>
<button id="select-eraser-button">Eraser</button>
<button id="select-bar-button">Select Bar</button>
<button id="select-circle-button">Select Circle</button>
<button id="select-support-button">Support</button>
<button id="select-sliding-horizontal-button">Sliding Support</button>
<button id="select-sliding-vertical-button">Sliding Support</button>
<button id="select-force-button">Force</button>
<button id="select-momentum-button">Momentum</button>
<button id="select-clear-button">Clear All</button>
<button id="save-assignment-button">Save Assignment</button>

<div id="konva-container" class="container m-2"></div>
<script>
  
</script>

<script src="{% static 'js/dcl_test.js' %}"></script>
{% endblock %}
